In [2]:

import pandas as pd


vendas_df = pd.read_csv(
    r'D:\\WorkSpace\\Python\\Python_Impressionador\\Pandas\\Contoso - Vendas - 2017.csv', sep=';', encoding='ISO-8859-1'
    )

produtos_df = pd.read_csv(
    r'D:\\WorkSpace\\Python\\Python_Impressionador\\Pandas\\Contoso - Cadastro Produtos.csv', sep=';', encoding='ISO-8859-1'
    )

lojas_df = pd.read_csv(
    r'D:\\WorkSpace\\Python\\Python_Impressionador\\Pandas\\Contoso - Lojas.csv', sep=';', encoding='ISO-8859-1'
    )

clientes_df = pd.read_csv(
    r'D:\\WorkSpace\\Python\\Python_Impressionador\\Pandas\\Contoso - Clientes.csv', sep=';', encoding='ISO-8859-1'
    )

#print(f'\nTabela de vendas: \n\n{vendas_df}')
#print(f'\nTabela de produtos: \n\n{produtos_df}')
display(lojas_df)
#print(f'\nTabela de clientes: \n\n{clientes_df}')

,ÿID Loja,Nome da Loja,Quantidade Colaboradores,País
0,1,Loja Contoso Seattle No.1,17.0,Estados Unidos
1,2,Loja Contoso Seattle No.2,25.0,Estados Unidos
2,3,Loja Contoso Kennewick,26.0,Estados Unidos
3,4,Loja Contoso Bellevue,19.0,Estados Unidos
4,5,Loja Contoso Redmond,33.0,Estados Unidos
...,...,...,...,...
301,306,Loja Contoso Europe Online,7.0,Alemanha
302,307,Loja Contoso Asia Online,8.0,China
303,308,Loja Contoso North America Reseller,15.0,Estados Unidos
304,309,Loja Contoso Europe Reseller,12.0,França
305,310,Loja Contoso Asia Reseller,17.0,China