### 1- Imposto a pagar no Lucro Presumido

- 5% sobre faturamento de ISS (mensal)
- 0,65% de PIS sobre faturamento, (mensal)
- 3% de COFINS sobre faturmaneto, (mensal)
- 4.8% de IR (trimestral)
- 10% de IR Adicional sobre o que ultrapassar 20mil do faturamento (trimestral)
- CSLL: 2,88% sobre faturamento (trimestral)

In [2]:

# Recebe uma string como argumento, trata a mesma removendo o cifrão monetário, pontos e virgula
# Retorna a string tratada convertida para float
def converter_para_float(args):
    valor = args.replace('R$ ', '').replace('.', '').replace(',', '.')
    valor = float(valor)
    return valor


# Recebe um valor float como argumento
# Retorna o valor de impostos mensais a serem pagos em float
def imposto_mensal(args):
    imposto_iss = 0.05
    imposto_pis = 0.065
    imposto_confins = 0.03
    
    impostos = imposto_iss + imposto_pis + imposto_confins
    taxa = args * impostos

    return taxa


# Recebe um valor float como argumento
# Analisa o argumento e adiciona imposto extra caso este ultrapasso R$ 20.000,00
# Retorna os impostos trimestrais a serem pagos
def imposto_trimestral(args):
    imposto_ir = 0.048
    imposto_ir_maior_20k = 0.10
    imposto_csll = -.0288

    if args > 20000.00:
        impostos = imposto_csll + imposto_ir + imposto_ir_maior_20k
        return args * impostos
    else: 
        impostos = imposto_csll + imposto_ir
        return args * impostos

print()    


# Dicionário com o faturamento mensal a ser analisado
faturamento = {
    'jan': 'R$ 95.141,98',
    'fev': 'R$ 95.425,16',
    'mar': 'R$ 89.716,31',
    'abr': 'R$ 78.459,99',
    'mai': 'R$ 71.087,28',
    'jun': 'R$ 83.911,06',
    'jul': 'R$ 56.467,26',
    'ago': 'R$ 88.513,58',
    'set': 'R$ 66.552,49',
    'out': 'R$ 80.164,07',
    'nov': 'R$ 66.964,33',
    'dez': 'R$ 71.525,25',
}

# Criação de listas auxiliares
lista_chaves = []
lista_faturamento = []
lista_imp_mensal = []
lista_imp_trimestral = []


for mes in faturamento:
    valor = converter_para_float(faturamento[mes])
  
    lista_chaves.append(mes)
    lista_faturamento.append(valor)
    lista_imp_mensal.append(imposto_mensal(valor))
    lista_imp_trimestral.append(imposto_trimestral(valor))

# Criação de dicionário com os valores de impostos inclusos
faturamento_impostos = dict.fromkeys(
    lista_chaves, (lista_faturamento, lista_imp_mensal, lista_imp_trimestral)
    )

print('Tabela de impostos:')

cont = 0

# List auxiliar para utilização nos graficos
grafico_faturamento = []

for chave in faturamento_impostos:
    print()
    print('-' * 40)
    print()
    
    meses = faturamento_impostos.keys()
    vendas, mensal, trimestral = faturamento_impostos[chave]
    
    vendas = float(vendas[cont])
    mensal = float(mensal[cont])
    trimestral = float(trimestral[cont])
    
    cont += 1
    chave = str(chave)

    print(f'Faturamento no mês de {chave.title()}')
    print()

    print(f'Vendas: R$ {vendas:.2f}')
    print(f'Imposto mensal: R$ {mensal:.2f}')
    print(f'Imposto trimestral: R$ {trimestral:.2f}')

    faturamento_mensal = (vendas - (mensal + trimestral))

    print()
    print(f'Total de impostos a pagar: R$ {mensal + trimestral:.2f}')
    print(f'Faturamento mensal: R$ {faturamento_mensal:.2f}')

Tabela de impostos:

----------------------------------------

Faturamento no mês de Jan

Vendas: R$ 95141.98
Imposto mensal: R$ 13795.59
Imposto trimestral: R$ 11340.92

Total de impostos a pagar: R$ 25136.51
Faturamento mensal: R$ 70005.47

----------------------------------------

Faturamento no mês de Fev

Vendas: R$ 95425.16
Imposto mensal: R$ 13836.65
Imposto trimestral: R$ 11374.68

Total de impostos a pagar: R$ 25211.33
Faturamento mensal: R$ 70213.83

----------------------------------------

Faturamento no mês de Mar

Vendas: R$ 89716.31
Imposto mensal: R$ 13008.86
Imposto trimestral: R$ 10694.18

Total de impostos a pagar: R$ 23703.05
Faturamento mensal: R$ 66013.26

----------------------------------------

Faturamento no mês de Abr

Vendas: R$ 78459.99
Imposto mensal: R$ 11376.70
Imposto trimestral: R$ 9352.43

Total de impostos a pagar: R$ 20729.13
Faturamento mensal: R$ 57730.86

----------------------------------------

Faturamento no mês de Mai

Vendas: R$ 71087.28
Imposto mensal: R$ 10307.66
Imposto trimestral: R$ 8473.60

Total de impostos a pagar: R$ 18781.26
Faturamento mensal: R$ 52306.02

----------------------------------------

Faturamento no mês de Jun

Vendas: R$ 83911.06
Imposto mensal: R$ 12167.10
Imposto trimestral: R$ 10002.20

Total de impostos a pagar: R$ 22169.30
Faturamento mensal: R$ 61741.76

----------------------------------------

Faturamento no mês de Jul

Vendas: R$ 56467.26
Imposto mensal: R$ 8187.75
Imposto trimestral: R$ 6730.90

Total de impostos a pagar: R$ 14918.65
Faturamento mensal: R$ 41548.61

----------------------------------------

Faturamento no mês de Ago

Vendas: R$ 88513.58
Imposto mensal: R$ 12834.47
Imposto trimestral: R$ 10550.82

Total de impostos a pagar: R$ 23385.29
Faturamento mensal: R$ 65128.29

----------------------------------------

Faturamento no mês de Set

Vendas: R$ 66552.49
Imposto mensal: R$ 9650.11
Imposto trimestral: R$ 7933.06

Total de impostos a pagar: R$ 17583.17
Faturamento mensal: R$ 48969.32

----------------------------------------

Faturamento no mês de Out

Vendas: R$ 80164.07
Imposto mensal: R$ 11623.79
Imposto trimestral: R$ 9555.56

Total de impostos a pagar: R$ 21179.35
Faturamento mensal: R$ 58984.72

----------------------------------------

Faturamento no mês de Nov

Vendas: R$ 66964.33
Imposto mensal: R$ 9709.83
Imposto trimestral: R$ 7982.15

Total de impostos a pagar: R$ 17691.98
Faturamento mensal: R$ 49272.35

----------------------------------------

Faturamento no mês de Dez

Vendas: R$ 71525.25
Imposto mensal: R$ 10371.16
Imposto trimestral: R$ 8525.81

Total de impostos a pagar: R$ 18896.97
Faturamento mensal: R$ 52628.28

### 2 - Puxando informações de um banco de Dados

In [6]:
# puxando informações SQL de um banco de dados
informacoes = [
    (1, 'NATHANIEL FORD', 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 167411.18, 0.0, 400184.25, None, 567595.43, 567595.43, 2011, '', 'San Francisco', ''), 
    (2, 'GARY JIMENEZ', 'CAPTAIN III (POLICE DEPARTMENT)', 155966.02, 245131.88, 137811.38, None, 538909.28, 538909.28, 2011, '', 'San Francisco', ''), 
    (3, 'ALBERT PARDINI', 'CAPTAIN III (POLICE DEPARTMENT)', 212739.13, 106088.18, 16452.6, None, 335279.91, 335279.91, 2011, '', 'San Francisco', ''), 
    (4, 'CHRISTOPHER CHONG', 'WIRE ROPE CABLE MAINTENANCE MECHANIC', 77916.0, 56120.71, 198306.9, None, 332343.61, 332343.61, 2011, '', 'San Francisco', ''), 
    (5, 'PATRICK GARDNER', 'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)', 134401.6, 9737.0, 182234.59, None, 326373.19, 326373.19, 2011, '', 'San Francisco', ''), 
    (6, 'DAVID SULLIVAN', 'ASSISTANT DEPUTY CHIEF II', 118602.0, 8601.0, 189082.74, None, 316285.74, 316285.74, 2011, '', 'San Francisco', ''), 
    (7, 'ALSON LEE', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 92492.01, 89062.9, 134426.14, None, 315981.05, 315981.05, 2011, '', 'San Francisco', ''), 
    (8, 'DAVID KUSHNER', 'DEPUTY DIRECTOR OF INVESTMENTS', 256576.96, 0.0, 51322.5, None, 307899.46, 307899.46, 2011, '', 'San Francisco', ''), 
    (9, 'MICHAEL MORRIS', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 176932.64, 86362.68, 40132.23, None, 303427.55, 303427.55, 2011, '', 'San Francisco', ''), 
    (10, 'JOANNE HAYES-WHITE', 'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)', 285262.0, 0.0, 17115.73, None, 302377.73, 302377.73, 2011, '', 'San Francisco', '')
    ]

descricao = (('Id', "<class 'int'>", None, 10, 10, 0, True), 
             ('EmployeeName', "<class 'str'>", None, 65536, 65536, 0, True), 
             ('JobTitle', "<class 'str'>", None, 65536, 65536, 0, True), 
             ('BasePay', "<class 'float'>", None, 54, 54, 0, True), 
             ('OvertimePay', "<class 'float'>", None, 54, 54, 0, True), 
             ('OtherPay', "<class 'float'>", None, 54, 54, 0, True), 
             ('Benefits', "<class 'float'>", None, 54, 54, 0, True), 
             ('TotalPay', "<class 'float'>", None, 54, 54, 0, True), 
             ('TotalPayBenefits', "<class 'float'>", None, 54, 54, 0, True), 
             ('Year', "<class 'int'>", None, 10, 10, 0, True), 
             ('Notes', "<class 'str'>", None, 65536, 65536, 0, True), 
             ('Agency', "<class 'str'>", None, 65536, 65536, 0, True), 
             ('Status', "<class 'str'>", None, 65536, 65536, 0, True))

# precisamos 1º de uma lista com o nome das colunas para poder organizar as colunas da nossa tabela:
# o nome das colunas está na variável descrição, dê uma olhada.

colunas = [tupla[0] for tupla in descricao]

import pandas as pd

tabela = pd.DataFrame.from_records(informacoes)
# para acertar nossa tabela, vamos precisar fazer:
# tabela = pd.DataFrame.from_records(informacoes, columns=colunas) # onde colunas é uma lista com o nome das colunas
display(tabela)


# além disso, precisamos enviar por e-mail para o RH uma lista com o nome e o cargo de cada pessoa da tabela 
# então você precisa construir o texto do corpo desse email do tipo:

texto = 'RH, Segue a lista dos funcionários'

for tupla in informacoes:
    nome = tupla[1]
    cargo = tupla[2]
    texto = texto + f"\n{nome}, Cargo: {cargo}"

print(texto)


# texto = """
# RH, segue a lista dos funcionários:
# Fulano, Cargo: tal
# Beltrano, Cargo: isso
# """

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,None,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,None,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,None,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,None,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,None,326373.19,326373.19,2011,,San Francisco,
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,None,316285.74,316285.74,2011,,San Francisco,
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,None,315981.05,315981.05,2011,,San Francisco,
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,None,307899.46,307899.46,2011,,San Francisco,
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,None,303427.55,303427.55,2011,,San Francisco,
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,None,302377.73,302377.73,2011,,San Francisco,

RH, Segue a lista dos funcionários
NATHANIEL FORD, Cargo: GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
GARY JIMENEZ, Cargo: CAPTAIN III (POLICE DEPARTMENT)
ALBERT PARDINI, Cargo: CAPTAIN III (POLICE DEPARTMENT)
CHRISTOPHER CHONG, Cargo: WIRE ROPE CABLE MAINTENANCE MECHANIC
PATRICK GARDNER, Cargo: DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
DAVID SULLIVAN, Cargo: ASSISTANT DEPUTY CHIEF II
ALSON LEE, Cargo: BATTALION CHIEF, (FIRE DEPARTMENT)
DAVID KUSHNER, Cargo: DEPUTY DIRECTOR OF INVESTMENTS
MICHAEL MORRIS, Cargo: BATTALION CHIEF, (FIRE DEPARTMENT)
JOANNE HAYES-WHITE, Cargo: CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)